@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

@font-face {
  font-family: MinecraftEvenings;
  src: url("/fonts/MinecraftEvenings-RBao.ttf") format("truetype");
}

:root {
	--primary-color: #43999E;
	--secondary-color: #65C2CB;
	--accent-color: #7ED759;
	--gold-color: #FEFE6C;
	--dark-gold-color: #D8AD2D;
	--nether-accent-color: #d85d2d;
}

* {
	margin: 0;
	padding: 0;
}

*, *:after, *:before {
	box-sizing: border-box;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
	font-family: Silkscreen, sans-serif;
	color: #ffffff;
	background-color: var(--secondary-color);
	overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

input, button {
	font: inherit;
	background: none;
	border: none;
	appearance: none;
}

button {
	cursor: pointer;
}

button:disabled {
	cursor: auto;
}

input:focus, button:focus {
	outline: none;
}

.hide {
	display: none !important;
}

.spin {
	animation: spin .5s infinite linear;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(359deg); }
}

@media screen and (max-width: 1280px) {
	html, body {
		overflow-x: auto;
	}
}